<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.addactivity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAhVhFx2qzcM6r7nM5OEjW004sCfVMLGGo" />

        <activity
            android:name="com.example.addactivity.Index"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.addactivity.Selectproperty"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addeat"
            android:label="@string/title_activity_addeat"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addmovie"
            android:label="@string/title_activity_addmovie"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addshopping"
            android:label="@string/title_activity_addshopping"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addshow"
            android:label="@string/title_activity_addshow"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addoutdoor"
            android:label="@string/title_activity_addoutdoor"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addother"
            android:label="@string/title_activity_addother"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addfinal"
            android:label="@string/title_activity_addfinal"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addfriend"
            android:label="@string/title_activity_addfriend"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.myactivity.Newactivity"
            android:label="@string/title_activity_newactivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.myactivity.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Addfinaleat"
            android:label="@string/title_activity_addfinaleat"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Myactivity"
            android:label="@string/title_activity_myactivity"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Invitedac"
            android:label="@string/title_activity_invitedac"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Myjoinac"
            android:label="@string/title_activity_myjoinac"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Myjoinac_organizer"
            android:label="@string/title_activity_myjoinac_organizer"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Myactivity_organizer_edit"
            android:label="@string/title_activity_myactivity_organizer_edit" >
        </activity>
        <activity
            android:name="com.example.addactivity.Myjoinac_organizer_edit"
            android:label="@string/title_activity_myjoinac_organizer_edit"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.addactivity.Invitedac_voting"
            android:label="@string/title_activity_invitedac_voting"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Recommend_index"
            android:label="@string/title_activity_recommend_index"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Re_movie"
            android:label="@string/title_activity_re_movie"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Re_eat"
            android:label="@string/title_activity_re_eat"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Test"
            android:label="@string/title_activity_test"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.addactivity.Voting"
            android:label="@string/title_activity_voting" >
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
     The following two permissions are not required to use
     Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

</manifest>
